@font-face {
	font-family: 'webpixel bitmap';
	src: url(../../assets/fonts/webpixelbitmap-Medium.woff2) format('woff2'),
	url(../../assets/fonts/webpixelbitmap-Medium.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}